:root {
  --main-ink-ika: 0s;
  --main-ink-hito: 0s;
  --move-hito: 0s;
  --move-ika: 0s;
  --move-aite: 0s;
  --slip-damege-cap: 100%;
  --slip-damege-sec: 3s;
  --jump-wait-count: 3s;
  --jump-jump-count: 3s;
  --jump-sum: 3s;
  --jump-wait-par: 50%;
  --respone-count: 4s;
  --ink-buki-mid-par: 100%;
  --ink-buki-mid-content: "100.00%";
  --ink-buki-high-par: 100%;
  --ink-buki-high-content: "100.00%";
  --special-ink-par: 100%;
  --special-ink-down-par: 100%;
}

.twitter_box {
  padding-top:8px;
  padding-bottom:8px;
}
.twitter {
  background-color: #55acee;
  border: 2px solid #55acee;
  border-radius: 5px;
  color: #fff;
  padding:4px 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.twitter:hover {
  background-color: #fff;
  color: #55acee;
}

select{
    outline:none;
    text-indent: 0.01px;
    text-overflow: '';
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

select option{
  background-color: #3CB371;
  color: #3CB371;
}

.select-wrap {
  position: relative;
  float: left;
}

.select-wrap.select-circle > select{
    width: 32px;
    height: 32px;
    border-radius:25px;
    margin-top: 16px;
    display: inline-block;
    border:1px solid #3CB371;
    overflow: hidden;
    float: left;
    font-size: 0px;
    transition: all 400ms cubic-bezier(1, 0, 0, 1);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.select-wrap.select-circle-main > select{
    width: 48px;
    height: 48px;
    border-radius:25px;
    margin: 0;
    display: inline-block;
    border:1px solid #3CB371;
    overflow: hidden;
    float: left;
    font-size: 0px;
    transition: all 400ms cubic-bezier(1, 0, 0, 1);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.select-wrap.select-circle-main:hover{
  width: 48px;
}
.select-wrap.select-circle-main:hover > select,.select-wrap.select-circle-main > select:hover{
    width: 48px;
    border-radius: 25px;
    font-size: 16px;
    background-color: #3CB371;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    letter-spacing: 0;
}

.select-width {
  width: 100%;
}

.select-wrap.select-circle:hover{
  width: 32px;
}
.select-wrap.select-circle:hover > select,.select-wrap.select-circle > select:hover{
    width: 32px;
    border-radius: 25px;
    font-size: 16px;
    background-color: #3CB371;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    letter-spacing: 0;
}

.equi_box {
  align: 'center';
  width: 100%;
  height: 48px
}

div {
  font-size: 12px;
}

ul, li {
  list-style: none;
  padding-left: 2px;
}

.base {
  display: block;
  height: 25px;
  width: 100%;
  border: 1px solid #3CB371;
}

.base_move {
  display: block;
  height: 25px;
  width: 100%;
  border: 1px solid #3CB371;
}

.base_move_border {
  background:
      repeating-linear-gradient(90deg, #3CB371, #3CB371 2px, white 2px, white);
  background-size: 25% 25px;
  background-repeat: repeat-x;

  display: block;
  height: 25px;
  width: 100%;
  border-top: 1px solid #3CB371;
  border-bottom: 1px solid #3CB371;
  border-right: 1px solid #3CB371;
}

.layout_box {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  padding: 5px;
  margin: 2px;
  border: 1px solid black;
}
.layout_box_status {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  height: 250px;
  padding: 5px;
  margin: 2px;
  border: 1px solid black;
}


.layout_box_x2 {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  height: 250px;
  padding: 5px;
  margin: 2px;
  border: 1px solid black;
  float: none;
}

.main_ink_buki_mid {
  display: block;
  background-color: #3CB371;
  height: 25px;
  width: var(--ink-buki-mid-par);
  content: "0%";
}
.main_ink_buki_mid::after {
  content: var(--ink-buki-mid-content);
}

.main_ink_buki_high {
  display: block;
  background-color: #3CB371;
  height: 25px;
  width: var(--ink-buki-high-par);
  content: "0%";
}
.main_ink_buki_high::after {
  content: var(--ink-buki-high-content);
}

.special_ink {
  display: block;
  background-color: #3CB371;
  height: 25px;
  width: var(--special-ink-par);
}

.special_ink_down {
  display: block;
  background-color: #3CB371;
  height: 25px;
  width: var(--special-ink-down-par);
}

.main_ink_ika::before {
    display: block;
    animation: count_up var(--main-ink-ika) linear infinite, main_ink_anime var(--main-ink-ika) linear infinite;
    background-color: white;
    content: '0';
    height: 25px;
    width: 100%;
}

.move_hito {
  display: block;
  animation: count_up var(--move-hito) linear infinite, move_anime var(--move-hito) linear infinite;
  background-color: red;
  height: 25px;
  margin-left: 0px;
  width: 2px;
}

.move_aite {
  display: block;
  animation: move_anime var(--move-aite) linear infinite;
  background-color: red;
  height: 25px;
  margin-left: 0px;
  width: 2px;
}

.move_ika {
  display: block;
  animation: count_up var(--move-ika) linear infinite, move_anime var(--move-ika) linear infinite;
  background-color: red;
  height: 25px;
  margin-left: 0px;
  width: 2px;
}

.aite_ink {
  display: block;
  background-color: #FFCC66;
  height: 25px;
  width: var(--slip-damege-cap);
}

.aite_ink_slip {
  display: block;
  animation: slip_damage var(--slip-damege-sec) linear infinite;
  background-color: blue;
  height: 25px;
  width: var(--slip-damege-cap);
}

.respone {
  display: block;
  animation: count_up var(--respone-count) linear infinite, move_anime var(--respone-count) linear infinite;
  background-color: red;
  height: 25px;
  margin-left: 0px;
  width: 2px;
}

.jump_count {
  display: block;
  animation: jump_anime var(--jump-sum) linear 0s infinite;
  background-color: red;
  height: 25px;
  margin-left: 0px;
  width: 2px;
  top: 0px;
}

.jump_wait_count {
  display: block;
  background-color: gray;
  height: 25px;
  width: var(--jump-wait-par);
  margin-left: 0px;
}

.base_jump_border {
  background:
      linear-gradient(90deg, gray, gray var(--jump-wait-par), white, white 2px);
  background-size: 100% 25px;
  display: block;
  height: 25px;
  width: 100%;
  border-top: 1px solid #3CB371;
  border-bottom: 1px solid #3CB371;
  border-right: 1px solid #3CB371;
}


.main_ink_hito::before {
    display: block;
    animation: count_up var(--main-ink-hito) linear infinite, main_ink_anime var(--main-ink-hito) linear infinite;
    background-color: white;
    content: '0';
    height: 25px;
    width: 100%;
}

.progress_animation {
  animation: count_up 1s linear infinite;
}
@keyframes progress_values {
  0% {value:"0"},
  100% {value:"100"}
}


@keyframes count_up {
  0% {content: "0";}
1% {content: "1";}
2% {content: "2";}
3% {content: "3";}
4% {content: "4";}
5% {content: "5";}
6% {content: "6";}
7% {content: "7";}
8% {content: "8";}
9% {content: "9";}
10% {content: "10";}
11% {content: "11";}
12% {content: "12";}
13% {content: "13";}
14% {content: "14";}
15% {content: "15";}
16% {content: "16";}
17% {content: "17";}
18% {content: "18";}
19% {content: "19";}
20% {content: "20";}
21% {content: "21";}
22% {content: "22";}
23% {content: "23";}
24% {content: "24";}
25% {content: "25";}
26% {content: "26";}
27% {content: "27";}
28% {content: "28";}
29% {content: "29";}
30% {content: "30";}
31% {content: "31";}
32% {content: "32";}
33% {content: "33";}
34% {content: "34";}
35% {content: "35";}
36% {content: "36";}
37% {content: "37";}
38% {content: "38";}
39% {content: "39";}
40% {content: "40";}
41% {content: "41";}
42% {content: "42";}
43% {content: "43";}
44% {content: "44";}
  45% {content: "45";}
  46% {content: "46";}
  47% {content: "47";}
  48% {content: "48";}
  49% {content: "49";}
  50% {content: "50";}
  51% {content: "51";}
  52% {content: "52";}
  53% {content: "53";}
  54% {content: "54";}
  55% {content: "55";}
  56% {content: "56";}
  57% {content: "57";}
  58% {content: "58";}
  59% {content: "59";}
  60% {content: "60";}
  61% {content: "61";}
  62% {content: "62";}
  63% {content: "63";}
  64% {content: "64";}
  65% {content: "65";}
  66% {content: "66";}
  67% {content: "67";}
  68% {content: "68";}
  69% {content: "69";}
  70% {content: "70";}
  71% {content: "71";}
  72% {content: "72";}
  73% {content: "73";}
  74% {content: "74";}
  75% {content: "75";}
  76% {content: "76";}
  77% {content: "77";}
  78% {content: "78";}
  79% {content: "79";}
  80% {content: "80";}
  81% {content: "81";}
  82% {content: "82";}
  83% {content: "83";}
  84% {content: "84";}
  85% {content: "85";}
  86% {content: "86";}
  87% {content: "87";}
  88% {content: "88";}
  89% {content: "89";}
  90% {content: "90";}
  91% {content: "91";}
  92% {content: "92";}
  93% {content: "93";}
  94% {content: "94";}
  95% {content: "95";}
  96% {content: "96";}
  97% {content: "97";}
  98% {content: "98";}
  99% {content: "99";}
  100% {content: "100";}
}

@keyframes main_ink_anime {
    0% {
        width: 0px;
        background-color:#3CB371;
    }
    100% {
        background-color:#3CB371;
        width: 100%;
    }
}
@keyframes move_anime {
    0% {
        margin-left: 0px;
    }
    100%{
        margin-left: 100%;
    }
}

@keyframes jump_anime {
    0% {
      margin-left: 0%;
    }
    100% {
      margin-left: 100%;
    }
}

@keyframes slip_damage {
  0% {
    width: 0%;
    background-color: red;
  }
  100% {
    width: 100%;
    background-color: red;
  }
}
