<meta content="{{ .Description }}" property="og:description">
<meta content="{{ delimit .Keywords ", " }}" name="keywords">
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="placeholder" />
<meta name="twitter:title" content="スプラトゥーン2ギアパワー計算機" />
<meta name="twitter:description" content="placeholder" />
<meta name="twitter:image" content="placeholder" />
<script>
var ogp_image_url = "https://us-central1-nanadon-213503.cloudfunctions.net/generate_gps_image?g=";
var gp_name = {
  '1':{'gp':0,'name':'メインインク性能'},
  '2':{'gp':0,'name':'サブインク性能'},
  '3':{'gp':0,'name':'インク回復力'},
  '4':{'gp':0,'name':'メイン性能'},
  '5':{'gp':0,'name':'ヒト速'},
  '6':{'gp':0,'name':'イカ速'},
  '7':{'gp':0,'name':'スペシャル増加'},
  '8':{'gp':0,'name':'スペシャル減少軽減'},
  '9':{'gp':0,'name':'スペシャル性能'},
  'A':{'gp':0,'name':'復活時間短縮'},
  'B':{'gp':0,'name':'スーパージャンプ時間短縮'},
  'C':{'gp':0,'name':'サブ性能'},
  'D':{'gp':0,'name':'敵インク軽減'},
  'E':{'gp':0,'name':'スタートダッシュ'},
  'Q':{'gp':0,'name':'ラストスパート'},
  'R':{'gp':0,'name':'逆境強化'},
  'S':{'gp':0,'name':'カムバック'},
  'U':{'gp':0,'name':'イカ忍者'},
  'V':{'gp':0,'name':'リベンジ'},
  'W':{'gp':0,'name':'復活ペナルティ'},
  'X':{'gp':0,'name':'ステルスジャンプ'},
  'Y':{'gp':0,'name':'対物攻撃力アップ'},
  'Z':{'gp':0,'name':'受け身術'},
  'F':{'gp':0,'name':'空きGP'}
};

window.onload = function() {
  ogp_image_url += location.search.substr(1).split('-').slice(0,3).join('-') + "&v=0.02";
  var head_chi = document.head.children;
  var gear = location.search.substr(1).split('-').slice(0,3);
  for(var i = 0;i < head_chi.length;i++){
    var proper = head_chi[i].getAttribute('name');
    console.log(head_chi[i]);
    if(proper === 'twitter:image'){
      head_chi[i].setAttribute('content',ogp_image_url);
    }
    if(proper === 'twitter:url'){
      head_chi[i].setAttribute('content', location.href);
    }
    if(proper === 'twitter:description'){
      for(var j = 0; j < 3; j++){
        gp_name[gear[0][j+1]]['gp']+=3;
        gp_name[gear[1][j+1]]['gp']+=3;
      gp_name[gear[2][0]]['gp']+=10;
      var res = "";
      for(key in gp_name){
        if(gp_name[key]['gp'] != 0){
          res += gp_name[key]['name'] + "=" + gp_name[key]['gp'] + "/"
        }
      }
      head_chi[i].setAttribute('content', res);
      }
    }
  }
};
</script>

{{ template "_internal/google_analytics_async.html" . }}
